spring:
  config:
    import: classpath:SECRET.yml
  profiles:
    active: local

  main:
    time-zone: Asia/Seoul

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update # Hibernate의 DDL 자동 생성 전략 (update, create, create-drop 등)
    properties:
      hibernate:
        format_sql: true # 실제 db 어떻게 sql 나가는지 확인
        dialect: org.hibernate.dialect.MySQLDialect
  sql:
    init:
      mode: always # 애플리케이션 시작 시 스크립트 초기화 (기본값: embedded)
